html{
    background-color:linen;
}

body {
    /*Gradient Background*/
    background-image: linear-gradient(to bottom, #FFFFF0, #FFF);
    background-size: cover;
}

header {
    background: url(Images/Image7.jpg) 50% 50% / 100% no-repeat;
    padding: 50px 50px;
    background-position: center center;
    background-size: cover;
}

h1 {
    font-family:Helvetica;
    text-align: center;
    color:rgb(196, 136, 34);
    padding-top: 50px;
    font-size: 300%;
}

.Synopsis {
    text-align: center;
    font-size: medium;
    font-style: italic;
    font-family: Helvetica, sans-serif;
    color: rgb(12, 12, 12);
}







/*Navigation Start*/

.navigation {
    padding-top: 30px;
    padding-bottom: 30px;
}

.navigation ul {
    margin:0px;
    padding-left: 180px;
    padding-bottom: 100px;
}

.navigation li {
    list-style: none;
    float: left;
    padding: 5px 5px;
    }

.navigation a {
    text-decoration: none;
    color: peru;
    padding: 10px 5px;
    border: rosybrown solid 2px;
}

.navigation a:hover {
    background-color: sandybrown;
}
/*Navigation End*/







.text {
    border-top: peru 5px solid;
}

.Para1 {
    font-family: 'Redacted Script';
    font-style: italic;
    text-shadow: 5px 5px 10px grey;
    padding: 10px 10px;
    line-height: 1.5;
}

.Para2 {
    width: 40%;
    float:right;
    font-size: medium;
    background-color: navajowhite;
    padding: 50px 10px;
    box-sizing: border-box;
    font-style: italic;
    font-family: Helvetica;
    border: 5px solid rgb(185, 115, 24);
    line-height: 1.5;
    text-shadow: 5px 5px 10px grey;
    background-image:url(Images/Image8.jfif);
    background-position: center center;
    background-size: cover;
}








/*Images Start*/
img {
    width: auto;
    height: auto;
    object-fit: cover;
    margin-bottom: 50px;
}

.image{
    position: relative;
    float: left;
    width: 60%;
}

.image img{
    display: block;
}

.image-description {
    position: absolute;
    bottom:0px;
    left: 5px;
    color:ivory;
    background-color: rgba(0,0,0,0.5);
    margin-bottom: 50px;
}
/*Image End*/






.fix {
    clear: both;
}










/*Table Start*/
.Table {
    text-align: left;
    width: 100%;
}

.Table{
    margin:50px 0;
    border:goldenrod 3px solid
}


th {
    text-align: left;
    background-color:wheat;
    color:peru;
    text-shadow: 1px 1px 0 rgba(0,0,0,4);
    font-size: x-large;
}

table th,
table td {
    border:1px solid gray;
    padding: 10px;
    vertical-align: top;
}

table{
    border-spacing: 0px;
    border-collapse: collapse;
    width: 100%;
}

/*Zevra stripe Colouring*/
table tbody tr:nth-child(even) td {
    background-color:wheat;
}

table tbody tr:nth-child(odd) td {
    background-color:rgb(230, 196, 134);
}

.column1 {
    width:40%;
}

.column2 {
    width:20%;
}

.column3 {
    width: 40%;
}

tfoot {
    background-color: wheat;
}

td {
    font-size: large;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/*Table End*/







/*Form Start*/
.form {
    margin:30px 30px;
    padding: 20px 20px;
}

.Name,
.Feedback {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-style:italic;
    color: goldenrod;
}

input[type="name"],
input[type="text"],
select {
    width:100%;
    box-sizing: border-box;
    padding: 0px 0px;
    height: 40px;
    font-size: 100%;
    margin-bottom: 15px;
    border: 1px solid blue;
}

input[type="email"]:focus,
input[type="text"]:focus,
select {
    border: 1px black;
    box-shadow: inset 2px 2px 2px rgba(0,0,400,0.7);

}

input[type="submit"] {
    width: 100%;
    display: block;
    box-sizing: border-box;
    background-color: rgb(160, 160, 250);
    color: black;
    margin: 20px 20px;
    padding: 5px 0;
    border-radius: 3px;
    margin-bottom: 10px;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
    border: cadetblue 1px;
    background-color: cyan;
}


.checkbox {
    font-size: small;
    color: black;
}
/*Form End*/







/*CSS Sprites*/
.Sprites {
    padding: 10px 10px;
    margin-top: 5px;
    float: left;
}

.Sprites ul {
    margin: 0;
    padding: 0;
}

.Sprites li{
    float: left;
    list-style: none;
    margin-right: 20px;
}

.Sprites a {
    display: block;
    width: 50px;
    height: 50px;
    background-image: url(Images/Sprites.png);
    text-indent: -99999px;
    background-repeat: no-repeat;
}

.Sprite2 a{
    background-position: 0 -50px;
}

.Sprite3 a{
    background-position: 0 -100px;
}

.Sprite1 a:hover{
    background-position: -50px 0;
}

.Sprite2 a:hover{
    background-position: -50px -50px;
}

.Sprite3 a:hover{
    background-position: -50px -100px;
}
/*Sprites End*/








/*Responsice Web design*/
@media screen and (max-width=700px) {
    .Para1,
    .Para2{
        width: auto;
        float: none;
    }
}

@media screen and (max-width=480px) {
    .text{
        padding-right: 20px;
        padding-left: 20px;
    }
}


/*Responsive Web Design End*/




















































/*Custom Fonts*/
@font-face {
    font-family: 'Redacted Script';
    src: url('Fonts/hinted-RedactedScript-Regular.eot');
    src: url('Fonts/hinted-RedactedScript-Regular.eot?#iefix') format('embedded-opentype'),
        url('Fonts/hinted-RedactedScript-Regular.woff') format('woff'),
        url('Fonts/hinted-RedactedScript-Regular.ttf') format('truetype'),
        url('Fonts/hinted-RedactedScript-Regular.svg#RedactedScript-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*end Custom Fonts*/